# Fundamentos de python

* Variables
* Operadores matemáticos básicos
* Operadores booleanos
* Operadores de comparación
* Estructuras de control
    - Condicionales simples
    - Condicionales compuestos
    - Ciclos finitos
    - Ciclos infinitos
    - Funciones
* Estructuras de datos
    - Enteros
    - Cadenas de caracteres
    - Listas
    - Diccionarios
    - Tuplas

In [1]:
# variables
name = "John"
age = 30
city = "New York"
last_name = "Doe"

In [2]:
# mala práctica
Name = "John"
Age = 30
City = "New York"
Last_Name = "Doe"

In [3]:
# mala práctica
LastName = "John"
lastName = "Doe"

In [4]:
Last.Name = "John"

NameError: name 'Last' is not defined

In [ ]:
print(name)

John

In [5]:
# operdores matemáticos
number1 = 10
number2 = 5

# Operaciones matemáticas
sum_result = number1 + number2

difference_result = number1 - number2

product_result = number1 * number2

division_result = number1 / number2

In [6]:
sum_result
difference_result
product_result
division_result

2.0

In [7]:
# imprime los resultados de las operaciones
print("Suma:", sum_result)
print("Resta:", difference_result)
print("Producto:", product_result)
print("División:", division_result)

Suma: 15
Resta: 5
Producto: 50
División: 2.0

### Operadores de comparación

In [8]:
# operadores de comparación
# igualdad ==
# desigualdad !=
# mayor que >
# menor que <
# mayor o igual que >=
# menor o igual que <=

In [9]:
# Comparaciones
a = 5
b = 10
a == b  # Igualdad

False

In [10]:
a != b  # Desigualdad

True

In [11]:
a > b  # Mayor que

False

In [12]:
a < b  # Menor que

True

In [13]:
name = "pedro"

In [14]:
# Condicional simple
a = 5
b = 10

if a > b:
    print("a es mayor que b")

In [15]:
# Condicional simple
a = 5
b = 10

if a < b:
    print("a es menor que b")

a es menor que b

In [16]:
# Condicional simple
a = 5
b = 10

if (a < b) and (a > 1):
    print("a es menor que b y mayor que 1")

a es menor que b y mayor que 1

In [17]:
# condicioneles compuestos

# Condicional simple
a = 0
b = 10

if (a < b) and (a > 1):
    print("a es menor que b y mayor que 1")
else:
    print("a no es menor que b o no es mayor que 1")

a no es menor que b o no es mayor que 1

In [18]:
# tabla de la verdad operador and
# True and True = True
# True and False = False
# False and True = False
# False and False = False
True and True  # True

True

In [19]:
# condicioneles compuestos

# Condicional simple
a = 0
b = 10

if (a < b):
    if (a > 1):
        print("a es menor que b y mayor que 1")
    else:
        print("a no mayor que 1")
else:
    print("a no es menor que b")

a no mayor que 1

In [20]:
# condicioneles compuestos

# Condicional simple
a = input("Ingrese un valor para a: ")
a = float(a)  # Convertir a entero
b = float(input("Ingrese un valor para b: "))  # Convertir a entero

if (a < b):
    if (a > 1):
        print("a es menor que b y mayor que 1")
    else:
        print("a no es mayor que 1")
else:
    print("a no es menor que b")

ValueError: could not convert string to float: ''

In [ ]:
type(a)  # Verifica el tipo de dato de a

str

In [ ]:
type(b)

int

In [21]:
# condicioneles compuestos

# jueves de lady night

day = input("Ingrese el día de la semana: ")

if day == "jueves":
    print("Es jueves de lady night")

elif day == "viernes":
    print("bebidas a mitad de precio")

elif day == "sabado":
    print("es sábado de fiesta")

elif day == "domingo":
    print("es domingo de descanso")

else:
    print("No es fin de semana")

es domingo de descanso

### Ciclos finitos

In [25]:
# ciclos finitos: for
# lista de nombres venezolanos

names = ["Alice", "Bob", "Charlie"]

for name in names:
    print(name)

Alice
Bob
Charlie

In [ ]:
# ciclos finitos: for
# lista de nombres venezolanos

names = ["Alice", "Bob", "Charlie"]

for name in names:
    name = name.lower()  # Convertir a mayúsculas
    if name == "bob":
        print("Encontré a bob")

Encontré a Bob

In [29]:
# listas en python
# lista de nombres venezolanos

names = ["pedro", "juan", "maria", "luis"]
ages = [25, 30, 22, 28]
peso = [60.5, 70.2, 55.0, 80.1]

In [30]:
names2 = [
    "pedro",
    "juan",
    "maria",
    "luis"
    ]

In [31]:
#           0       1         2       3
#         -4          -3       -2       -1 
names = ["pedro", "juan", "maria", "luis"]

In [32]:
names[0]  # Acceso al primer elemento

'pedro'

In [ ]:
#  [start:end]
#  [1:3] -> ['juan', 'maria']
#  [0:3] -> ["pedro", "juan", "maria"]
names[0:2]

['pedro', 'juan']

In [36]:
names[1:3]

['juan', 'maria']

In [ ]:
names[1]

'u'

In [37]:
name1 = names[1]  # Acceso al segundo elemento

In [39]:
name1.upper()

'JUAN'

In [1]:
# ciclo for para recorrer la lista de nombres y bucar a bob
names = ["Alice", "Bob", "Charlie"]
for name in names:
    name = name.lower()  # Convertir a mayúsculas
    if name == "bob":
        print("Encontré a bob")
    # print(name)  # Descomentar para imprimir todos los nombres

Encontré a bob

In [ ]:
# Cadenas

last_name = "primero"

In [5]:
last_name[:4]

'prim'

In [6]:
list_of_names_age = ["pedro", "juan", "maria", "luis", 20, 30, 22, 28]

In [7]:
# iterando sobre una lista de nombres y edades
# cantidad de elementos en la lista
len(list_of_names_age)

8

In [11]:
list_of_names_age[0]

'pedro'

In [13]:
cantidad_elementos = len(list_of_names_age)

for item in range(cantidad_elementos):
    print(item)

0
1
2
3
4
5
6
7

In [15]:
for item in range(len(list_of_names_age)):
   # buscar el nombre de luis y su posición
    if list_of_names_age[item] == "luis":
        print("Encontré a luis en la posición", item)

Encontré a luis en la posición 3

In [16]:
for item in range(len(list_of_names_age)):
   # buscar el nombre de luis y su posición
    if list_of_names_age[item] == "luis":
        print(f"Encontré a luis en la posición {item}")

Encontré a luis en la posición 3

In [ ]:
# Diccionarios en python
# Un diccionario es una colección de pares clave-valor
# Se define con llaves {}
# Cada elemento se compone de una clave y un valor, separados por dos puntos (:)
# Ejemplo de diccionario
person = {
    "name": "John",
    "age": 30,
    "city": "New York",
}

In [20]:
print(person["name"])  # Acceso al valor de la clave "name"
print( person["age"])  # Acceso al valor de la clave "age"
print(person["city"])  # Acceso al valor de la clave "city"

John
30
New York

In [22]:
print(f"Nombre: {person["name"]}")  # Acceso al valor de la clave "name"
print(f"Edad: {person["age"]}")  # Acceso al valor de la clave "age"
print(f"Ciudad: {person["city"]}")  # Acceso al valor de la clave "city"

Nombre: John
Edad: 30
Ciudad: New York

In [23]:
person.clear()

In [24]:
person

{}

### Funciones

In [25]:
def saludar():
    print("¡Hola, mundo!")

In [26]:
saludar()

¡Hola, mundo!

In [27]:
# funcion para saludar a una persona
def saludar_persona(nombre):
    print(f"¡Hola, {nombre}!")

In [28]:
saludar_persona("Pedro")

¡Hola, Pedro!

In [29]:
# saludar a una persona por su nombre y su apellido
def saludar_persona_completo(nombre, apellido):
    print(f"¡Hola, {nombre} {apellido}!")

In [30]:
saludar_persona_completo("Pedro", "Gómez")

¡Hola, Pedro Gómez!

In [31]:
saludar_persona_completo("Lopez", "Jose")  # Esto generará un error porque falta el apellido

¡Hola, Lopez Jose!

In [32]:
saludar_persona_completo("jose")

TypeError: saludar_persona_completo() missing 1 required positional argument: 'apellido'

In [33]:
# saludar a una persona por su nombre y su apellido
def saludar_persona_completo2(nombre="Fulano", apellido="D'tal"):
    print(f"¡Hola, {nombre} {apellido}!")

In [34]:
saludar_persona_completo2("Pedro")

¡Hola, Pedro D'tal!

In [35]:
saludar_persona_completo2('Gomez')

¡Hola, Gomez D'tal!

In [36]:
saludar_persona_completo2(apellido="Gomez")

¡Hola, Fulano Gomez!

In [37]:
saludar_persona_completo2(apellido="Gomez", nombre="Pedro")

¡Hola, Pedro Gomez!